.light {
    background-color: rgb(250, 250, 250);
    color: rgb(28, 32, 34);
}

.details {
    z-index: -1000;
}


.portfolio {
    margin-top: 4.5rem;
}



.dark {
    background-color: rgb(28, 32, 34);
    color: rgb(250, 250, 250);
}


.App {
    margin-top: 1.5rem;
    z-index: -1;
    /* position: relative; */
}

.mainn{
    margin: auto;
    width: 1000px;
}


body {
    /* margin: 1rem; */
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    /* background-color: rgb(28, 32, 34); */
    /* color: rgb(250, 250, 250); */
}


html {
    font-size: 16px;
    scroll-behavior: smooth;
    /* background-color: aqua; */
}

.title {
    font-weight: 600;
    color: white
}

.title-lightmode {
    font-weight: 600;
    color: rgb(28, 32, 34);
}


.active {
    color: white;
    font-weight: 600;
}

.overall {
    position: fixed;
    height: 4.5rem;
    top: 0;
    border-radius: .3rem;
    background-color: rgb(28, 32, 34);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    color: rgb(250, 250, 250);
    box-sizing: border-box;
}

.overall-lightmode {
    position: fixed;
    height: 4.5rem;
    top: 0;
    border-radius: .3rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    color: rgb(250, 250, 250);
    box-sizing: border-box;
    background-color: #AB8000;
    color: rgb(250, 250, 250);
}


.nav-menu {
    /* border-radius: .3rem; */
    /* background-color: rgb(28, 32, 34); */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    /* width: 100%; */
    color: rgb(250, 250, 250);
    box-sizing: border-box;
    /* height: 4.5rem; */
    /* padding: 0  0 ; */
    cursor: pointer;
    position: fixed;
    top: 0;
    width: 1000px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    /* border: 1px solid red; */
}

.nav-menu-lightmode {
    /* border-radius: .3rem; */
    /* background-color: #AB8000; */
    color: rgb(250, 250, 250);
    box-sizing: border-box;
    height: 4.5rem;
    /* padding: 0 20rem 0 20rem; */
    cursor: pointer;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    position: fixed;
    top: 0;
    width: 1000px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
}

.sub-text {
    font-weight: 600;
}

.social-icon {
    font-size: 1.4rem;
    cursor: pointer;
}

.main {
    /* padding: 5rem 20rem 5rem 20rem; */
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /* position: relative; */
    /* z-index: -1; */
}

.intro {
    margin-top: 4.5rem;
}


.menu {
    font-size: 1.8rem;
}

.contact-btn {
    outline: none;
    border: rgb(250, 250, 250);
    color: rgb(28, 32, 34);
    background-color: #eee8aa;
    border-radius: .5rem;
    padding: .6rem;
}

.contact-btn-lightmode {
    outline: none;
    border: rgb(250, 250, 250);
    color: #ffffff;
    background-color: #AB8000;
    border-radius: .5rem;
    padding: .6rem;
}

.img-fluid {
    height: 12.5rem;
    width: 18.75rem;
}

.text-box {
    width: auto;
}

.sec {
    border: 1px solid white;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
    padding: .5rem;
}



.Qual-section {
    background-color: rgb(28, 32, 34);
    border: 1px solid white;
    color: white;
    border-radius: .5rem;
    padding: .6rem;
}

.Qual-section-lightmode {
    background-color: #ffffff;
    border: 1px solid #AB8000;
    color: #AB8000;
    border-radius: .5rem;
    padding: .6rem;
}

.checked-section {
    background-color: #eee8aa;
    color: rgb(28, 32, 34);
}

.checked-section-lightmode {
    background-color: #AB8000;
    color: #ffffff;
}



.download {
    margin: auto;
}



.qualification-line {
    border: 1px solid white;
    height: 7rem;
}

.qualification-line-lightmode {
    border: 1px solid #AB8000;
    height: 7rem;
}

.qualificaton-section {
    display: flex;
}

.work-details {
    display: none;
}

.services-div {
    height: 12.5rem;
    width: 18.75rem;
    border: 1px solid white;
    background-color: rgb(28, 32, 34);
    padding-left: 1rem;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
}

.services-div-lightmode {
    height: 12.5rem;
    width: 18.75rem;
    border: 1px solid white;
    background-color: #ffffff;
    padding-left: 1rem;
    -moz-box-shadow: 0 0 5px #999;
    -webkit-box-shadow: 0 0 5px #999;
    box-shadow: 0 0 5px #999;
}

.code-icon {
    font-size: 2.5rem;
}

.code-icon-lightmode {
    font-size: 2.5rem;
    color: #AB8000;
}

.view {
    cursor: pointer;
    color: #eee8aa;
}

.view-lightmode {
    cursor: pointer;
    color: #AB8000;
}

.textt {
    width: 20%;
}

.container {
    border: 1px solid white;
}

.footer {
    bottom: 0;
    width: 100%;
    border-radius: .3rem;
    background-color: rgb(28, 32, 34);
    height: 8rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.footer-lightmode {
    bottom: 0;
    width: 100%;
    border-radius: .3rem;
    background-color: #AB8000;
    height: 8rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.contact {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: auto auto;
    height: 100vh;
}

.input {
    height: 50px;
    border: none;
    outline: none;
    border-radius: .2rem;
    margin-top: 1rem;
    background-color: #ffffff;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


.sidebar {
    background-color: rgb(28, 32, 34);
    width: 0;
    position: absolute;
    right: 0;
    height: 100%;
    transition: 1s;
    border: 1px solid white;
    z-index: 1;
    overflow: hidden;
}


.bottom-nav {
    background-color: rgb(28, 32, 34);
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1000;
}

.bottom-nav-lightmode {
    background-color: #AB8000;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1000;
}

.bottom-content {
    background-color: rgb(28, 32, 34);
    border: 1px solid #eee8aa;
    /* transform: translateY(-170px); */
    transform: translateY(1000%);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8rem;
    z-index: 1000;
    border-radius: .5rem;
    transition: 0.4s ease-in;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.bottom-content-lightmode {
    background-color: #ffffff;
    border: 1px solid #AB8000;
    transform: translateY(1000%);
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8rem;
    z-index: 1000;
    border-radius: .5rem;
    transition: 0.4s ease-in;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.textarea {
    width: 100%;
    height: 200px;
}

.experience {
    cursor: pointer;
}

.details {
    display: grid;
    grid-template-columns: auto 450px;
    width: 90%;

}

.services {
    margin-top: 8rem;
}




@media only screen and (max-width:1400px) {

    .App {
        margin-top: 0;
        z-index: -1;

        /* position: relative; */
    }

    body {
        margin-top: 0rem;
    }


    .services {

        margin-top: 8rem;
    }


    .main {
        /* padding: 1rem 5rem 3rem 5rem; */
        width: 1000px;
        padding: 1rem 0 1rem 0;
        margin-left: auto;
        margin-right: auto;
        /* position: relat
        ive; */
    }



    body {
        font-size: 15px;
    }

    .nav-menu {
        padding: 1rem 5rem 0 5rem;
        z-index: 1;

    }

    .nav-menu-lightmode {
        padding: 1rem 5rem 0 5rem;
    }

    .qualfications {

        margin-top: 8rem;
    }


    .about-me {
        margin-top: 10rem;
    }

}



/* Tablet */
@media only screen and (max-width:1200px) {

    body {
        margin-top: 0;
    }


    .App {
        margin-top: 4.5rem;
        z-index: -1;

        /* position: relative; */
    }


    .services {
        margin-top: 8rem;
    }


    html {
        font-size: 14px;
    }

    .main {
        /* padding: 5rem 20rem 5rem 20rem; */
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem 0 1rem 0;
    }

    .about-me {
        margin-top: 7.5rem;
    }


}


/* mobile */
@media only screen and (max-width: 767px) {

    .overall {
        height: 4.5rem;
    }

    body {
        margin-top: 0;
    }

    .services {

        margin-top: 5rem;
    }

    .about-me {
        margin-top: 6rem;
    }

    body {
        font-size: 14px;
    }

    .nav-menu {
        padding: 1rem;
        position: relative;
        top: 0;
        width: 100%;
    }

    .nav-menu-lightmode {
        padding: 1rem;
        position: relative;
        top: 0;
        width: 100%;
    }

    .main {
        /* padding: 1rem 1rem 2rem 1rem; */
        width: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 0 1rem 0 1rem;
    }

    .intro {
        margin-top: 4.5rem;
    }

    .img-fluid {
        height: 7.5rem;
        width: 10.75rem;
    }

    .profile-img {
        margin: auto;
        text-align: center;
        /* z-index: -999; */
    }

    .details {
        display: block;
        width: 100%;
    }

    .sec {
        padding: .5rem;
    }

    .card {
        height: auto;
        padding: .2rem;

    }

    .card-img-top {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .contact {
        display: block;
    }

    .experience {
        width: 100%;
    }

}
